<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haidong.storysharing.dao.PathMapper">
  <resultMap id="BaseResultMap" type="path">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <collection property="roles" ofType="role">
      <id column="rid" jdbcType="INTEGER" property="id" />
      <result column="role_name" jdbcType="VARCHAR" property="roleName" />
      <result column="role_label" jdbcType="VARCHAR" property="roleLabel" />
      <result column="is_disable" jdbcType="INTEGER" property="isDisable" />
      <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
      <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    id, path
  </sql>

  <select id="getAllPath" resultMap="BaseResultMap">
    select p.*,r.id rid, r.role_name, r.role_label, r.is_disable, r.create_time, r.update_time
    from tb_path p
    left join tb_path_role tpr on p.id =tpr.path_id
    left join tb_role r on r.id = tpr.role_id
  </select>
</mapper>
